<div class="card">
    <div class="card-header">
        Customer Form!
    </div>
    <div class="card-body">
        <form novalidate (ngSubmit)="save(custForm)" #custForm="ngForm">
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="firstNameId">First Name</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="firstNameId" placeholder="First Name (required)" required maxlength="30" minlength="3" [(ngModel)]="customer.firstName" name="firstName" #firstNameVar="ngModel" [ngClass]="{'is-invalid':(firstNameVar.touched|| firstNameVar.dirty) && !firstNameVar.valid}"
                    />

                    <span class="invalid-feedback">
        <span *ngIf="firstNameVar.errors?.['required']">
            First Name is Mandatory.
    </span>

                    <span *ngIf="firstNameVar.errors?.['minlength']">
        First Name must be greater than 3 characters.
</span>

                    <span *ngIf="firstNameVar.errors?.['maxlength']">
    First Name must be less than 30 characters.
</span>
                    </span>

                </div>
            </div>


            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="lastNameId">Last Name</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="lastNameId" placeholder="Last Name (required)" required minlength="3" [(ngModel)]="customer.lastName" name="lastName" #lastNameVar="ngModel" [ngClass]="{'is-invalid':(lastNameVar.touched || lastNameVar.dirty) && !lastNameVar.valid}"
                    />
                    <span class="invalid-feedback">
                        <span *ngIf="lastNameVar.errors?.['required']">
                            Last Name is Mandatory.
                    </span>

                    <span *ngIf="lastNameVar.errors?.['minlength']">
                        Last Name must be greater than 3 characters.
                </span>
                    </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="emailId">Email</label>
                <div class="col-md-8">
                    <input type="email" class="form-control" id="emailId" placeholder="Email (required)" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="customer.email" name="email" #emailVar="ngModel" [ngClass]="{'is-invalid':(emailVar.touched|| emailVar.dirty) && !emailVar.valid}"
                    />

                    <span class="invalid-feedback">
                        <span *ngIf="emailVar.errors?.['required']">
                            Email Id is Mandatory.
                    </span>

                    <span *ngIf="emailVar.errors?.['pattern']">
                        Email format is not valid
                 </span>
                    </span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="cityId">city</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="cityId" placeholder="City (required)" required minlength="3" [(ngModel)]="customer.city" name="city" #cityVar="ngModel" [ngClass]="{'is-invalid':(cityVar.touched || cityVar.dirty) && !cityVar.valid}" />
                    <span class="invalid-feedback">
                        <span *ngIf="cityVar.errors?.['required']">
                            Last Name is Mandatory.
                    </span>

                    <span *ngIf="cityVar.errors?.['minlength']">
                        Last Name must be greater than 3 characters.
                </span>
                    </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-4">
                    <button class="btn btn-primary mr-3" type="submit" style="width:80px" [title]="custForm.valid ? 'Save your Data':'disabled until data is valid'" [disabled]="!custForm.valid">
Save
</button>
                    <button class="btn btn-outline-secondary" type="button">ShowData</button>
                </div>

            </div>

        </form>

    </div>

    <br>Pristine:{{custForm.pristine}}
    <br>Dirty:{{custForm.dirty}}
    <br>Touched:{{custForm.touched}}
    <br>Valid:{{custForm.valid}}
    <br>Value:{{custForm.value | json}}
    <br>&nbsp;